.DashboradMain{
    width: 100vw;
    height: 100vh;
    background-color: #000;
    .DashboradMenu{
        background-color: rgb(211, 137, 0);
        padding: 1.5rem 0rem;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        flex: 1 1 auto;
        .dateDashborad{
            h1{
                cursor: pointer;
                &:hover{
                    transition: all 1s;
                    border-bottom: 1px solid #000;
                }
            }
        }
        .imgTitleDashborad{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            img{
                text-align: center;
                height: 10rem;
            }
        }
        .LinkBack{
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 1rem;
            .link{
                text-decoration: none;
                color: #000;
                &:hover{
                    transition: all 1s;
                    border-bottom: 1px solid #000;
                }
            }
        }
    }
    .GlobalElements{
        height: calc(100vh - 154.23px);
        display: flex;
        flex-direction: column;
        align-items: center;
        .DashboradElement{
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            flex: 1 1 auto;
            justify-content: space-around;
            gap: 2rem;
            flex: 1 1 auto;
            .statistiquesDashborad{
                background-color: orangered;
                border-radius: 5px;
                padding: 5rem;
                width: 25%;
                h1{
                    font-size: 2rem;
                }
                h3{
                    font-size: 1.8rem;
                }
            }
        }
    }
}